@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
* {
margin: 0;
padding: 0;
box-sizing: border-box;    
}
body{
    background-color: #000;
    color: #fff;
    justify-items: center;
    font-family: Outfit;
}
h1{
    letter-spacing: 2px;
}
ul li{
    display: flex;
    margin: 0 3px;
}
.cartao{
    font-family: Outfit, sans-serif;
    border: 5px solid #fff;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 20px;
    display: grid;
    width: 380px;
    height: 400px;
    vertical-align: tp;
    background-color: #000000;
    color: #f4f5f1;
    overflow-y: auto;
}
.cartao img{
    width: 100%;
    border-radius: 5px;
}
ul li{
    list-style: none;
}
footer p{
    font-family: sans-serif;
    color: #f4f5f1;
    font-weight: 200;
}
.discografia{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}
button{
    font-family: Outfit;
    font-weight: bold;
    color: #fff;
    margin: 5px;
    padding: 10px;
    background-color: black;
    border: 3px solid white;
    border-radius: 5px;
    transition: 0.4s;
}
button:hover{
    cursor: pointer;
    text-decoration: underline;
}
.banner{
    background: url(dlTURY.gif) no-repeat;
    background-size: cover;
    padding: 100px 0;
    text-align: center;
    color: #f4f5f1;
}
img{
    width: 60%;
}
.container{
    text-align: center;
}
footer p{
    font-family: Outfit;
}